
/* GLOBAL */
body{
    font-size: 17px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.7;
}

/* Header container to hold the image and nav on the same line */
.header {
    display: flex;
    align-items: center;
    padding: 20px;
    /* background-color: #333; */
}

.container{
    max-width: 700px;
    border: 12px;
    padding: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    align-content: center;
}

p{
    overflow: hidden;
}

iframe{
    display: block;
    margin-left: auto;
    margin-right: auto;
    align-content: center;
    border: 12px;
    padding: 20px;
}

/* photo */

.me{
    display: inline-flex;
    overflow: hidden;
    width: 85px;
    height: auto;
    border-style: solid;
    float: left;
    border-radius: 9999px;
}

/* NAV BAR */
.topnav{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size: 22px;
    overflow: hidden;
    width: 100%;
    margin-left: 0;
    color: #f2f2f2;
    list-style-type: none;
    background-color: #333;
}

.topnav a{
    padding: 20px;
    text-decoration: none;
    display: inline-flex;
}

.non-bold{
    font-weight:100;
}

.topnav a:hover{
    font-weight: 900;
    /* color: #f2f2f2; */
    color: black;
    background-color: white;
}

a:visited{
    color: inherit;
}

/* a:hover{
    color: green;
} */

/* HOME PAGE */

/* .header{
    text-align: center;
    margin-top: 30px;
    max-width: 600px;
    padding-left: 250px;
    display: block;
    margin-left: auto;
    margin-right: auto;
} */

/* ABOUT */
/* .collapse{
    background-color: inherit;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: black dotted 1px;
    font-size: 15px;
  }
  
  .active, .collapse:hover {
    background-color: black;
    color: white;
    outline: none;
  } */
  
  /* .content {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    background-color: #f8f8f8;
    outline: black dotted 1px;
  } */


/* CONTACT */

.form-container{
    /* background: rgba(255, 255, 255, 0.1); */
    padding: 40px;
    border-radius: 15px;
    box-shadow: 0 0 15px rgba(8, 9, 9, 0.3);
    /* width: 520px; */
    max-width: 700px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    align-content: center;
}

h2 {
    color: black;
    margin-bottom: 20px;
}

.input-box {
    position: relative;
    margin: 20px 0;
}

.input-box input, textarea {
    width: 100%;
    padding: 12px 15px;
    background: none;
    border: none;
    outline: none;
    color: black;
    font-size: 17px;
    font-family: Arial, Helvetica, sans-serif;
    border-bottom: 2px solid rgba(21, 19, 19, 0.5);
    transition: 0.4s;
}

.input-box input:focus, textarea:focus {
    border-color: #242424;
    box-shadow: 0 5px 15px rgba(19, 19, 19, 0.3);
}

.input-box span {
    position: absolute;
    top: 50%;
    /* left: 15%; */
    line-height: 1.7;
    color: black;
    font-size: 16px;
    pointer-events: none;
    transition: 0.4s;
    transform: translateY(-50%);
}

.input-box input:focus + span, 
.input-box input:not(:placeholder-shown) + span
 {
    top: 5px;
    font-size: 12px;
    color: black;
}

.input-box textarea:focus + span,
.input-box textarea:not(:placeholder-shown) + span
 {
    top: 5px;
    font-size: 12px;
    color: black;
}

.input-box textarea:focus {
    height: 250px; /* Expanded height */
    border-color: #242424;
    box-shadow: 0 5px 15px rgba(19, 19, 19, 0.3);
}

.submit-btn {
    background: linear-gradient(90deg, #000000, #131414);
    border: none;
    padding: 12px 30px;
    border-radius: 25px;
    color: white;
    font-weight: bold;
    cursor: pointer;
    transition: 0.4s;
    margin-top: 10px;
}

.submit-btn:hover {
    background: linear-gradient(90deg, #000000, #080c0a);
    box-shadow: 0 5px 15px #0a052e80;
}

/* Circle container */
.char-circle {
    position: absolute;
    bottom: -40px;
    right: 0;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 3px solid lightgrey;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    color: grey;
    background: conic-gradient(#59b6b6 0deg, lightgrey 0deg);
    
}

/* Count number in the center */
#char-count {
    position: center;
    z-index: 1;
    color: black;
    align-items: center;
}